@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title>Оцінки студентів</title>
</head>
<body>
    <div>
        <h3>Студенти:</h3>
        <table>
            <tr>
                <td><p>Номер по списку</p></td>
                <td><p>Імя</p></td>
                <td><p>Прізвище</p></td>
                <td><p>Група</p></td>
                <td><p>Курс</p></td>
            </tr>
            @foreach (var s in ViewBag.Students)
            {
                <tr>
                    <td><p>@s.Id</p></td>
                    <td><p>@s.Name</p></td>
                    <td><p>@s.Surname</p></td>
                    <td><p>@s.Group</p></td>
                    <td><p>@s.Course</p></td>

                    <td>
                        <p><a href="/Home/ChangeMark/@s.Id">Виставити оцінки</a></p>
                    </td>
                    @*<td>
                        <p><a href="/Home/Edit/@s.Id">Редагувати</a></p>
                    </td>*@
                    <td>
                        <p><a href="/Home/Delete/@s.Id">Видалити</a></p>
                    </td>
                   
                </tr>
            }
        </table>
        <p><a href="/Home/Add/">Додати студента</a></p>
        <p><a href="/Home/Marks/">Результати сесії</a></p>
    </div>
</body>
</html>
